$button-color: hsl(0, 0%, 13%);
$blue-color: #2196f3;

html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

.logo {
  padding-left: 200px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.header {
  -webkit-box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 1;
  z-index: 2;
  background-color: #f7f7f9;
  position: fixed;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

.nav {
  ul {
    padding-right: 180px;
    padding-top: 10px;
    li {
      display: inline-flex;
      justify-content: space-between;

      a {
        padding: 13px;
        text-decoration: none;
        color: $button-color;
        &:hover {
          color: $blue-color;
          transition: color 0.2s;
        }
      }
    }
  }
}
.top_padding {
    height: 100px;
    width: 100%;
}
.container1,
.container2 {
    padding-top: 15px;
  .main_container {
    display: flex;
    
    justify-content: center;

    .content1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      h {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

.container1 {
    background-color: #f7f7f9;
}

.button {
  background-color: $blue-color;
  margin-top: 20px;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.container2 {
  background-color: white;
}

.fhead {
  background-color: #f7f7f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h {
    text-align: center;
    font-size: 50px;
  }
  p {
    text-align: center;
    font-size: 15px;
  }
}

.features {
  background-color: #f7f7f9;
  display: flex;
  justify-content: center;
    padding-top: 15px;
}

.core {
    padding-top: 15px;
    background-color: #f7f7f9;
}
.ffooter {
  background-color: #f7f7f9;
  position: relative;
  padding-top: 50px;
  width: 1200px;
  height: 700px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .feature {
    border: 0.5px solid white;
    margin: 0px;
    width: 380px;
    background-color: #fff;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icons {
      border-radius: 50px;
      width: 100px;
      height: 100px;
    }
    -webkit-box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 7px 2px 21px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 1;
    .inform {
      h {
        font-size: 25px;
      }
      p {
        padding-top: 5px;
        font-size: 18px;
      }
      padding-top: 30px;
      text-align: center;
    }
  }
}

.demo {
  position: relative;
  background-image: url("/Img/cup-hd-wallpaper-laptop-tea-100738.jpg");
  background-attachment: fixed;
  background-color: white;

  background-position: center;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h {
    font-size: 50px;
  }
  p {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.price {
  font-size: 20px;
  color: $blue-color;
}

#Q {
  padding: 10px;
}

.feedback {
  display: flex;
  .pics {
    background-color: #f7f7f9;
    border-radius: 50px;
    align-items: center;
    margin-left: 150px;
  }

  margin: 50px;
  .feature {
    img {
      margin-top: 50px;
    }
    margin-left: 20px;
    margin-right: 20px;
    h {
      font-size: 25px;
    }
    div {
      background-color: #f7f7f9;
      padding: 40px;
      font-size: 20px;
    }
    align-items: center;
  }
}

#qwe {
  display: flex;
}

#txt {
  font-size: 50px;
}

.submit {
  background-image: url("/Img/cup-hd-wallpaper-laptop-tea-100738.jpg");
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  div {
    margin: 20px;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 130px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    background-color: $blue-color;
    color: white;
    padding: 11px 150px;
    margin: 8px 0;
    border: none;
    border-radius: 130px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #1b7fd1;
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;

  input[type="text"],
  select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 130px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 90%;
    background-color: $blue-color;
    color: white;
    padding: 14px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  textarea {
    width: 90%;
    height: 150px;
    padding: 15px 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: none;
  }
  div {
    border-radius: 5px;
    padding: 20px;
  }
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  background-color: #929292;
  padding: 20px;
}

.cc {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 600px;
  margin: 0px;
}

.fa-ul {
  padding: 5px;
  li {
    font-size: 25px;
    padding: 10px;
  }
}

.cc1 {
  width: 400px;
  h {
    font-size: 23px;
  }
  p {
    padding-left: 20px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  #qwe {
    display: block;
  }
  .header {
    display: block;
    position: relative;
  }
  .logo {
    display: flex;
    padding: 0px;
    justify-content: center;
  }
  .nav {
    ul {
      padding: 0px;
      li {
        display: flex;

        justify-content: center;
      }
    }
  }

  .container1,
  .container2 {
    .main_container {
      display: block;
      .content1 {
        display: flex;
        padding: 0px;
        width: 100%;
        justify-content: center;
        img {
          width: 360px;
          height: 360px;
        }
      }
      .content2 {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        h {
          text-align: center;
        }
        .button {
          margin-left: 100px;
        }
      }
    }
  }

  .features {
    display: block;
  }
  .inform {
    display: block;
  }
  .ffooter {
    padding-top: 50px;
    width: 100%;
    height: 500px;
    margin: 0;
    display: block;
    align-items: center;
    display: flex;
    height: 110%;

    .feature {
      border: 0.5px solid rgb(209, 209, 209);
      margin: 20px;
      background-color: #fff;
      height: 285px;
    }
  }

  .cc1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-left: 60px;
  }
}
